// Specific CSS for your home-page

*, *:before, *:after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html, body {
font-size: 62%;
}
body {
background: #bde2f6;
}
.device {
margin: auto;
width: 375px;
height: 668px;
background: #ffffff;
font-family: "Open Sans", Helvetica, Arial, sans-serif;
-webkit-box-shadow: -1px 24px 41px -6px rgba(0,0,0,0.27);
-moz-box-shadow: -1px 24px 41px -6px rgba(0,0,0,0.27);
box-shadow: -1px 24px 41px -6px rgba(0,0,0,0.27);
}

/* start section css */

/* first div */
#message_perso {
margin: auto;
margin-top: 126px;
text-align: center;
}

#message_perso #bienvenue {
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 700;
margin-bottom:15px;
}

#img_profil {
width: 76px;
margin-bottom: 10px;
}

#legend {
font-size: 14px;
font-family: 'Roboto', sans-serif;
margin-bottom: 42.57px;
}

#legend2 {
font-size: 14px;
font-family: 'Roboto', sans-serif;
margin-bottom: 20px;
}

#titre_message {
font-family: 'Roboto';
font-size: 16px;
margin-bottom: 19.04px;
color: #395AFF;
}

#titre_message2 {
font-family: 'Roboto';
font-weight: 700px;
font-size: 35px;
line-height: 47px;
margin-bottom: 14px;
color: #000000;
}

#contenu_message {
margin: auto;
text-align: center;
width: 288.34px;
color: #9F9F9F;
font-size: 14px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
margin-bottom: 54.6px;
line-height: 21px;
opacity: 0.77;
}

#contenu_message2 {
margin: auto;
text-align: center;
width: 264px;
color: #9F9F9F;
font-size: 13px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
line-height: 19px;
opacity: 0.77;

}

/* second div */


/* third div */
.paper{
margin: 30px;
position: relative;
width: 400px;
height: 220px;
}
.paper_img {
width: 60%;
}
.border {
position: absolute;
top: 30px;
left: 3px;
width: 320px;
}
.lines {
position: absolute;
top: 88px;
width: 33%;
left: 64px;
}


/* END MAIN IMAGES */

.orbit_1 {
position: absolute;
top: 26px;
left: 33px;
width: 230px;
height: auto;
z-index: 2;
}
.orbit_2 {
position: absolute;
top: 23px;
right: 14px;
width: 240px;
height: 200px;
z-index: 1;
}
img.pictures {
width: 90%;
}
.animation {
animation: orbit 10s ease-in infinite;

}                                               /* animation orbit 1 */
@-webkit-keyframes orbit {
0% { -webkit-transform: rotate(0deg); }
40% {-webkit-transform: rotate(180deg); }
50% {-webkit-transform: rotate(80deg); }
70% {-webkit-transform: rotate(180deg); }
100% { -webkit-transform: rotate(0deg); }
}

@keyframes orbit {
0% { transform: rotate(0deg); }
40% {transform: rotate(180deg); }
50% {transform: rotate(80deg); }
70% {transform: rotate(180deg); }
100% { transform: rotate(0deg); }
}

.animation_2 {
animation: orbit_2 3s ease-in-out infinite;
}
/*animation orbit 2 */
@keyframes orbit_2 {
0% { transform: rotate(0deg); }
50% {transform: rotate(-20deg); }
100% {transform: rotate(0deg); }
}

@-webkit-keyframes orbit_2 {
0% {-webkit-transform: rotate(0deg); }
50% {-webkit-transform: rotate(-20deg); }
100% {-webkit-transform: rotate(0deg); }
}

.animation_3 {
animation: orbit_3 3s ease-out infinite;
}
/*animation orbit slide 2 */
@keyframes orbit_3 {
0% { transform: rotate(0deg); }
50% {transform: rotate(-20deg); }
100% {transform: rotate(0deg); }
}

@-webkit-keyframes orbit_3 {
0% {-webkit-transform: rotate(0deg); }
50% {-webkit-transform: rotate(-20deg); }
100% {-webkit-transform: rotate(0deg); }
}
/* MID */
.mid {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
height: 9rem;
display: inline-block;
}
.mid h1 {
text-align: center;
color: #10638e;
font-size: 18px;
text-align: center;
}
.mid p {
padding: 30px;
text-align: center;
font-size: 14px;
color: #c9c9c9;
}
.paper_img {
z-index: 1;
}
.lines {
animation: lines_moves 1.5s ease-in-out infinite;
z-index: 2;
}
@keyframes lines_moves {
0% {left: 64px; right: 0; }
50% { left: 69px; right: 25px; }
100% { left: 64px; right: 0; }
}



.owl-theme .owl-controls .owl-page span {
border-radius: 23px;
opacity: 0.32;
width: 8px;
height: 8px;
margin: 4px;
}

.owl-theme .owl-controls .owl-page.active span {
background-color: #395AFF;
}


/* BTM */
.btm {
margin-top: 48px;
position: relative;
text-align: center;
}
button {
margin: auto;
background-color:  #ffffff;
text-align: center;
width: 148.67px;
border-width: 2px;
border-style: solid;
border-color: #395AFF;
border-radius: 23px;
height: 45px;
box-sizing: border-box;

font-size: 18px;
}
button a {
text-decoration: none;
color:#395AFF;
font-size: 20px;
font-weight: 500;
}
