<div class="post-heading">
  <p id="bienvenue">Bienvenue mon ami !</p>
  <img id="img_profil" src="elizeu-dias-520676-unsplash@2x.png">
  <p id="legend">Matt</p>
</div>
<div class="post-description">
  <p id="titre_message">Cher Paul</p>
  <p id="contenu_message">Sois le bienvenu sur le réseau social de notre groupe de partage biblique. Nous sommes content que tu répondes positivement à notre invitation. Je te propose d’en savoir plus dans les pages suivantes avant de nous rejoindre sur le réseau social.</p>
</div>

<div class="post-footer">
  <p>Ici le bouton vers description du groupe</p>
  <button name="button" type="button"><a class="btn next">Suivant</a></button>
</div>

