<div class="banner">
  <div class="banner-content">
    <h1>Bienvenue mon ami !</h1>
    <p>Sois le bienvenu sur le réseau social de notre groupe de partage biblique. Nous sommes content que tu répondes positivement à notre invitation. Je te propose d’en savoir plus dans les pages suivantes avant de nous rejoindre sur le réseau social.</p>
    <a class="btn btn-primary btn-lg">Découvre le groupe</a>
  </div>
</div>
