<div class="device">
<!--all window-->
  <div class="item" id="message_perso">
    <p id="bienvenue">Bienvenue mon ami !</p><%= image_tag "michel.png", height: 70 %>
    <p id="legend">Michel</p>
    <p id="titre_message">Cher Paul,</p>
    <p id="contenu_message">Sois le bienvenu sur le réseau social de notre groupe de partage biblique. Nous sommes content que tu répondes positivement à notre invitation. Je te propose d’en savoir plus dans les pages suivantes avant de nous rejoindre sur le réseau social.</p>
  </div>
  <div class="btm customNavigation">
    <%= link_to page_home2_path do %>
      <button name="button btn next" type="button">Suivant</button>
    <% end %>
  </div>
</div>


