<div class="device">
<!--all window-->
  <div class="item" id="message_perso">
    <p id="bienvenue">Bienvenue mon ami !</p><img id="img_profil" src="elizeu-dias-520676-unsplash@2x.png">
    <p id="legend">Matt</p>
    <p id="titre_message">Cher Paul,</p>
    <p id="contenu_message">Sois le bienvenu sur le réseau social de notre groupe de partage biblique. Nous sommes content que tu répondes positivement à notre invitation. Je te propose d’en savoir plus dans les pages suivantes avant de nous rejoindre sur le réseau social.</p>
  </div>
  <div class="item" id="message_perso">
    <p id="bienvenue">Bienvenue mon ami !</p><img id="img_profil" src="elizeu-dias-520676-unsplash@2x.png">
    <p id="legend2">Matt</p>
    <p id="titre_message2">Groupe <span style="color:#395AFF;font-weight: bold;">Alpha</span></p>
    <p id="contenu_message2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
  </div>
  <div class="item" id="membre_groupe">
    <h1>Nom du groupe</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<div class="btm customNavigation">
  <button name="button" type="button"><a class="btn next">Suivant</a></button>
</div>

