<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="panel panel-white post panel-shadow">
        <div class="banner">
          <div class="banner-content">
            <h1>Groupe <span style="color:#cbb12b;font-weight: bold;">Alpha</span></h1>
            <div class="description_group_message">
              <p>
              Nous sommes très heureux de t’accueillir dans notre groupe.
              <br />
                Je pense sincèrement que venir pour la première fois n’est pas une expérience facile, et il y a peut-être un certain nombre de pensées qui te traversent l’esprit en ce moment. <br />
              <br />
                Tu te demande peut-être: <br />
                « Est-ce que je vais être la seule personne à ne pas être un chrétien ultra convaincu ? »
              <br /> <br />
                Tu n’es pas le seul, en fait, ce parcours est tout entier conçu pour toi, il est conçu pour des personnes qui ne vont pas à l’église. Tout le monde y est bienvenu. <br /> <br />
                Une autre question que tu te poses certainement : <br />
                « Est-ce qu’on va m’obliger à faire des choses que je n’ai pas envie de faire ? » <br />
                NON, rien ni personne ne te forcera à faire quelque chose que tu ne veux pas. <br /> <br/>

                Pour commencer, nous sommes ravis que tu sois là, et nous serions très heureux que tu participes à nos rencontres et aux échanges sur le site, parce que notre groupe suit une progression logique et tu en retireras beaucoup plus si tu le suis à chaque rencontre. Mais si tu décides de ne pas revenir, c’est entièrement ton choix : on ne t’écrira pas, on ne t’enverra pas de mail, pas de message texto, on ne te téléphonera pas. Chaque rencontre, c’est à toi de décider de venir ou non. Personne ne te courra après! <br /> <br />
              </p>
            </div>
            <%= link_to "Découvre les membres", pages_membre_groupe_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
